<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">TestPaloIT</a>
</nav>
<div class="d-flex justify-content-center">
    <br>
      <form [formGroup]="formulario" class="form-floating" >
        <label for="digito">
          Card number
          <input  type="number" formControlName="digito" class="form-control" id="digito" name="digito" type="text">
        </label>
        <br><br><br>
        <button class="btn btn-secondary" (click)="validar()">CALCULAR NÚMERO DE LA SUERTE</button>
        <br>
        <label for="etiqueta">
          <div id="etiqueta">
            Número de la suerte: {{ formulario.value.num }}
          </div>
        </label>
      </form>
</div>